<footer class="bg-main-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 app">
                <h4 class="me-md-2 fw-semibold">Get The Seater App</h4>
                    <button class="btn bg-black text-white me-3">
                        <div class="d-flex justify-content-center align-items-center">
                            <i class="fa-brands fa-apple mx-2 fs-2"></i>
                            <p class="mb-0">AppStore</p>
                        </div>
                    </button>
                    <button class="btn bg-black text-white ">
                        <div class="d-flex justify-content-center align-items-center">
                            <i class="fa-brands fa-google-play mx-2 fs-2"></i>
                            <p class="mb-0">Google Play</p>
                        </div>
                    </button>
            </div>
            <div class="offset-md-2 col-md-2 cursor-pointer specialHover">
                <i class="fab mx-2 fa-instagram fs-1"></i>
                <i class="fab mx-2 fa-facebook fs-1"></i>
                <i class="fab mx-2 fa-linkedin fs-1"></i>
            </div>
        </div>
    </div>
</footer>