<div class="container d-flex my-5">
    <div class="row align-items-center mt-3">
        <div class="offset-md-1 col-md-5">
            <img src="./../../assets/Screens/sssssss.png" class="w-75 mx-auto d-block" alt="">
        </div>
        <div class="col-md-6">
            <h2 class="fw-bold mb-3">About us</h2>
            <p class="text-muted">Seater is driven by passion and long-term vision towards a sustainable future in transportation.</p>
            <button class="btn btn-primary my-4">
                Learn more
            </button>
            <p class="fw-semibold mt-md-5">Follow us</p>
            <div class=" d-flex specialHover cursor-pointer">
                <i class="fab me-2 fa-instagram fs-4"></i>
                <i class="fab mx-2 fa-facebook fs-4"></i>
                <i class="fab mx-2 fa-linkedin fs-4"></i>
            </div>
        </div>
    </div>
</div>