<div class="container d-flex my-5">
    <div class="row align-items-center mt-3">
        <div class="offset-md-1 col-md-5">
            <img src="assets/Screens/sssssss.jfif" class="w-75 mx-auto d-block" alt="">
        </div>
        <div class="col-md-6">
            <h2 class="fw-bold mb-3 text-main">About</h2>
            <p class="fw-semibold">We bring a revolutionary approach to transportation, proudly serving both schools and corporate clients across Egypt.
            Our mission is simple, ensure every journey is safe, reliable, and comfortable. For parents, we provide peace of mind
            through background-verified drivers, caring supervisors, and real-time GPS tracking of every ride. For businesses, we
            deliver dependable, efficient travel solutions that keep employees comfortable and on schedule. Backed by nationwide
            coverage, flexible packages, and 24/7 customer support, we’re redefining what secure and trusted transportation means.</p>

            <div class=" d-flex justify-content-center specialHover cursor-pointer py-5">
                <i class="fab me-2 fa-facebook fs-3"></i>
                <i class="fab mx-2 fa-instagram fs-3"></i>
                <i class="fab mx-2 fa-linkedin fs-3"></i>
            </div>
        </div>
    </div>
</div>