.welcome-section {
    background: linear-gradient(135deg, #1d2de4, #009fe3);
    color: white;
    padding: 30px 10px;
    position: relative;
    text-align: center;
    overflow: hidden;
}

.welcome-section::before {
    content: '';
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 90%;
    background-image: radial-gradient(rgba(255, 255, 255, 0.1) 2px, transparent 2px);
    background-size: 20px 20px;
    z-index: 0;
}

.container .row .col-md-3 {
    transition: all 0.5s ease;
    z-index: 9;
}

.container .col-md-3:hover {
    box-shadow: var(--box-shadow);
    cursor: pointer;
}

@media (max-width: 768px) {
    .welcome-section::before {
        height: 90%;
    }

    .welcome-section {
        margin: 1rem !important;
    }

    .container .row .col-md-3 {
        width: 80%;
        margin: auto;
        margin-bottom: 3rem;
        padding-top: 1rem !important;
    }

    .container .row .col-md-3 button {
        margin-bottom: 1rem;
    }

}



.btn-white-on-blue {
    background-color: #007BFF;
    color: white;
    padding: 12px 28px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-white-on-blue:hover {
    background-color: #0056b3;
    transform: translateY(-5px);
}

.btn-white-on-blue:active {
    transform: translateY(0);
}