<div class="welcome-section rounded rounded-5 m-5">
    <div class="container">
        <div class="text-center welcome-text py-5">
            <h1 class="mb-3">Seater Services</h1>
            <p class="fs-5">let's get you a ride</p>
        </div>
    
        <div class="my-4">
            <div class="row">
                
                <div class="col-md-3" (click)="schoolBooking()">
                    <div class="h-75 d-flex justify-content-center align-items-center">
                        <img src="assets/Icons/bus.jfif" class="w-100" alt="">
                    </div>
                    <button class="btn btn-white-on-blue px-5 rounded-5 d-block mx-auto mb-3">School Bus</button>
                </div>

                <div class="col-md-3" (click)="bussinessBooking()">
                    <div class="h-75 d-flex justify-content-center align-items-center">
                        <img src="assets/Icons/Vector Smart Object.jfif" class="w-75" alt="">
                    </div>
                    <button class="btn btn-white-on-blue px-5 rounded-5 d-block mx-auto ">Corporate Booking </button>
                </div>

                <div class="col-md-3" (click)="privateBooking()">
                    <div class="h-100 align-content-center">
                        <img src="assets/Icons/bus  2.jfif" class="w-100" alt="">
                        <button class="btn btn-white-on-blue px-5 rounded-5 d-block mx-auto mt-5">Private Request</button>
                    </div>
                </div>

                <div class="col-md-3" (click)="trackingBooking()">
                    <div class="h-100 align-content-center">
                        <img src="assets/Icons/Icon location 3.jfif" class="w-100" alt="">
                        <button class="btn btn-white-on-blue px-5 rounded-5 d-block mx-auto mb-3">Tracking service</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div id="whySeater" class="rounded rounded-5 m-5">
    <div class="container my-5">
        <div class="text-center pb-5">
            <h2 class="mb-4 fw-bolder text-main">Seater Services</h2>
            <p class="fs-5">let's get you a ride</p>
        </div>
        <div>
            <div class="row">
                <div class="col-md-3 d-flex justify-content-center align-items-center" (click)="schoolBooking()">
                    <div class=" rounded-4 border border-1 border-primary text-center ">
                        <img src="./../../assets/Icons/bus.png" class="w-100 py-4" alt="">
                        <button class="btn btn-primary rounded-pill px-4 mb-4">School Bus</button>
                    </div>
                </div>
                <div class="col-md-3 d-flex justify-content-center align-items-center" (click)="bussinessBooking()">
                    <div class=" rounded-4 border border-1 border-primary text-center px-4">
                        <img src="./../../assets/Icons/Vector Smart Object.png" class="py-4 w-100" alt="">
                        <button class="btn btn-primary rounded-pill px-4 mb-4">School Bus</button>
                    </div>
                </div>
                <div class="col-md-3 d-flex justify-content-center align-items-center" (click)="privateBooking()">
                    <div class=" rounded-4 border border-1 border-primary text-center px-4">
                        <img src="./../../assets/Icons/Shadow of bus 2.png" class="w-100 py-4" alt="">
                        <button class="btn btn-primary rounded-pill px-4 mb-4">School Bus</button>
                    </div>
                </div>
                <div class="col-md-3 d-flex justify-content-center align-items-center" (click)="trackingBooking()">
                    <div class=" rounded-4 border border-1 border-primary text-center px-4">
                        <img src="./../../assets/Icons/Icon location 3.png" class="w-100 py-4" alt="">
                        <button class="btn btn-primary rounded-pill px-4 mb-4">School Bus</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div> -->