<!-- <div class="vh-100 d-flex align-items-center  mt-5">
    <div class="container d-flex align-items-center pt-5">
        <div class="row">
            <div class="col-md-6 d-flex flex-column justify-content-center mb-sm-5">
                <h1 class="mb-5">Seater's Bussiness Solution</h1>
                <p>
                    We supply fleets tailored to the specific needs of companies and schools. Institutions can manage their fleet operations
                    via our integrated Smart System, gaining full control over logistics, tracking, and reporting.
                </p>
            </div>
            <div class="col-md-5 ">
                <div class="row">
                    <div class="col-md-3">
                        <img src="../../assets/school/2.08_Add_Booking.png" class="w-100 rounded-4" alt="">
                    </div>
                    <div class="col-md-3 mb-sm-5">
                        <img src="../../assets/school/2.10_Confirm_Booking_1.png" class="w-100 rounded-4" alt="">
                    </div>
                    <div class="col-md-3 mb-sm-5">
                        <img src="../../assets/school/2.19_School_Bus_Home – 7.png" class="w-100 rounded-4" alt="">
                    </div>
                    <div class="col-md-3 mb-sm-5">
                        <img src="../../assets/school/2.20_Child_Tracking.png" class="w-100 rounded-4" alt="">
                    </div>
                </div>
            </div>
            <button (click)="goToBusnissBooking()" class="btn bg-main text-white">Book Now</button>
        </div>

    </div>
</div> -->


<div class="layer mt-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-6 d-flex flex-column justify-content-center">
                <h1 class="mb-5">Seater's Bussiness Solution</h1>
                <p>
                    We supply fleets tailored to the specific needs of companies and schools. Institutions can manage their fleet
                    operations
                    via our integrated Smart System, gaining full control over logistics, tracking, and reporting.
                </p>
            </div>
            <div class="col-md-5 offset-md-1">
                <div class="row">
                    <div class="col-md-6 mb-sm-5">
                        <img src="../../assets/school/2.08_Add_Booking.png" class="w-100 rounded-4" alt="">
                    </div>
                    <div class="col-md-6 mb-sm-5">
                        <img src="../../assets/school/2.10_Confirm_Booking_1.png" class="w-100 rounded-4" alt="">
                    </div>
                    <div class="col-md-6 specialPosition">
                        <img src="../../assets/school/2.20_Child_Tracking.png" class="w-100 rounded-4" alt="">
                    </div>
                    <!-- <div class="col-md-3 mb-sm-5">
                            <img src="../../assets/school/2.19_School_Bus_Home – 7.png" class="w-100 rounded-4" alt=""> 
                         </div> -->
                </div>
            </div>
            <button (click)="goToBusnissBooking()" class="btn bg-main text-white">Book Now</button>
        </div>

    </div>
</div>