<div class="layer">
    <div class="container py-5">
    <h1 class="text-center my-5 fw-bolder text-main">Seater services</h1>
    <div class="row">
        <div class="col-md-3 mb-sm-3">
            <div class="bg-special rounded-4 py-5 px-3 h-100 d-flex flex-column justify-content-center align-items-center">
                <h3 class="mb-5">Schools</h3>
                <p class="mb-5">We're revolutionizing the school commute through cutting-edge technology. Safe and reliable daily rides for all students in different age groups</p>
                <button routerLink="/school" class="btn btn-light">
                    learn More <i class="fa-solid fa-arrow-right"></i>
                </button>
            </div>
        </div>
        <div class="col-md-3 mb-sm-3">
            <div class="bg-special rounded-4 py-5 px-3 h-100 d-flex flex-column justify-content-center align-items-center">
                <h3 class="mb-5">Busnisses</h3>
                <p class="mb-5">We supply fleet for <br>(Companies and Schools) depending on its demand and help them manage it through our
                Smart System.</p>
                <button routerLink="/bussnisses"  class="btn btn-light">
                    learn More <i class="fa-solid fa-arrow-right"></i> 
                </button>
            </div>
        </div>
        <div class="col-md-3 mb-sm-3">
            <div class="bg-special rounded-4 py-5 px-3 h-100 d-flex flex-column justify-content-center align-items-center">
                <h3 class="mb-5">Special Request</h3>
                <p class="mb-5">We handle specific transportation requests from businesses and individuals whether it is one vehicle or fifty, Seater
                can handle it.</p>
                <button routerLink="/specialRequest" class="btn btn-light">
                    learn More <i class="fa-solid fa-arrow-right"></i>
                </button>
            </div>
        </div>
        <div class="col-md-3 mb-sm-3 ">
            <div class="bg-special rounded-4 py-5 px-3 h-100 d-flex flex-column justify-content-center align-items-center">
                <h3 class="mb-5">Tracking</h3>
                <p class="mb-5">Track all your rides whether on our daily lines, private lines, or one-time requests! we offer live tracking, and
                communication systems to ease transportation.</p>
                <button class="btn btn-light">
                    learn More <i class="fa-solid fa-arrow-right"></i>
                </button>
            </div>
        </div>
    </div>
</div>
</div>