<div class="bg-home py-5">
    <div class="container vh-100 align-content-center">
        <div class="row">
            <div class="col-md-6 d-flex flex-column justify-content-center">
                <h1 class="display-4 fw-bolder">MOBILE APP FOR <br><span #typedElement></span></h1>
                <p class="mt-2 fs-5 fw-lighter">
                    Smart, Reliable, and Effortless Transportation for Schools, Businesses, and Individuals. Book your
                    ride. Track every trip. Manage your fleet — all in one place.
                </p>

                <div class="mt-4 buttons d-flex">
                    <!-- <button
                        class="btn btn-dark btn1 d-flex justify-content-center align-items-center rounded-pill px-5 me-4">
                        <i class="fa-brands fa-google-play me-3 fs-1"></i>
                        <p class="fw-bolder fs-5 m-0 py-2">Google Play</p>
                    </button> -->

                    <button class="btn border-0 text-white btn1 bg-main opacity-75 d-flex justify-content-center align-items-center rounded-pill px-4  me-md-4">
                            <i class="fa-brands fa-google-play fs-1 "></i>
                            <p class="fw-bolder fs-4 m-0 px-2"><span class="d-flex fs-6 fw-normal">GET IT ON</span>Google Play</p>
                    </button>
                    <button class="btn border-0 bg-main opacity-75 text-white d-flex justify-content-center align-items-center rounded-pill px-4">
                        <i class="fa-brands fa-apple me-3 fs-1"></i>
                        <p class="fw-bolder fs-4 m-0 "><span class="d-flex fs-6 fw-normal">Download on the</span>App Store</p>
                    </button>
                    <!-- <button class="btn btn-dark d-flex justify-content-center align-items-center rounded-pill px-5">
                        <i class="fa-brands fa-apple me-3 fs-1"></i>
                        <p class="fw-bolder fs-5 m-0 py-2">App Store</p>
                    </button> -->
                </div>
            </div>
        </div>
    </div>
</div>

<app-about-home></app-about-home>

<section id="whySeater">
    <div class="container my-5">
        <div class="text-center pb-5">
            <h2 class="mb-4 fw-bolder text-main">Why Seater</h2>
            <p class="fs-3 fw-bolder">You’ll discover ways to feel at ease and secure</p>
        </div>
        <div>
            <div class="row">
                <div class="col-md-3">
                    <div class=" rounded-4 border border-1 border-primary text-center px-4 h-100 align-content-center">
                        <img src="assets/money.png" class="py-4 w-50" alt="">
                        <!-- <i class="fa-solid fa-bus pb-4"></i> -->
                        <h3 class="pb-4">Affordable Packages </h3>
                        <p class="text-muted">We offer a range of affordable packages, complete with special features and exclusive offers tailored to meet the unique
                        needs of our customers.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class=" rounded-4 border border-1 border-primary text-center px-4 h-100 align-content-center">
                        <img src="assets/Icons/Icon location 3.jfif" class="py-4 w-75" alt="">
                        <!-- <i class="fa-solid fa-bus pb-4"></i> -->
                        <h3 class="pb-4">Real-Time Tracking</h3>
                        <p class="text-muted">Track every ride in real time for complete peace of mind. With live GPS tracking, you can follow your child’s journey
                        from start to finish, so you always know they’re safe. </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class=" rounded-4 border border-1 border-primary text-center px-4 h-100 align-content-center">
                        <img src="assets/Component-42-–-1-84x75.jfif" class="py-4" alt="">
                        <!-- <i class="fa-solid fa-bus pb-4"></i> -->
                        <h3 class="pb-4">Nationwide Coverage</h3>
                        <p class="text-muted">Nationwide coverage across Egypt, delivering reliable service in both major cities and rural areas and soon expanding
                        across the MENA region.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class=" rounded-4 border border-1 border-primary text-center px-4 h-100 align-content-center">
                        <img src="assets/Component-42-–-1-84x75.jfif" class="py-4" alt="">
                        <!-- <i class="fa-solid fa-bus pb-4"></i> -->
                        <h3 class="pb-4">Safe and Secure</h3>
                        <p class="text-muted">Your child’s safety comes first. With background-verified drivers, caring supervisors, and 24/7 customer support, every
                        journey is secure and worry-free. </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


<app-services-booking></app-services-booking>


<div class="container py-5">
    <div>
        <h2 class="text-center fw-bolder text-main mb-5">Our Partners and Clients</h2>
    </div>
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide><img src="assets/partenrs/images.jfif"></ng-template>
        <ng-template carouselSlide><img src="assets/2.jfif"></ng-template>
        <ng-template carouselSlide><img src="assets/partenrs/images.jfif"></ng-template>
        <ng-template carouselSlide><img src="assets/partenrs/images.jfif"></ng-template>
        <ng-template carouselSlide><img src="assets/partenrs/images.jfif"></ng-template>
        <ng-template carouselSlide><img src="assets/partenrs/images.jfif"></ng-template>
        <ng-template carouselSlide><img src="assets/partenrs/images.jfif"></ng-template>
        <ng-template carouselSlide><img src="assets/partenrs/images.jfif"></ng-template>
        <ng-template carouselSlide><img src="assets/partenrs/images.jfif"></ng-template>
    </owl-carousel-o>
</div>

<app-contact></app-contact>