<div class="layer mt-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-6 d-flex flex-column justify-content-center mb-sm-5">
                <h1 class="mb-5">Seater's School Solution</h1>
                <p>
                    We use the latest technologies and smart optimization tools to plan efficient, cost-effective daily
                    transportation for
                    both employees and students. From the first day, Seater helps you minimize costs and maximize
                    operational performance.
                </p>
            </div>
            <div class="col-md-5 offset-md-1">
                <div class="row">
                    <div class="col-md-6 mb-sm-5">
                        <img src="../../assets/Screens/sss.png" class="w-100 rounded-4" alt="">
                    </div>
                    <div class="col-md-6 mb-sm-5">
                        <img src="../../assets/Screens/ssss.png" class="w-100 rounded-4" alt="">
                    </div>
                    <div class="col-md-6 specialPosition">
                        <img src="../../assets/Screens/sssss.png" class="w-100 rounded-4" alt="">
                    </div>
                    <!-- <div class="col-md-3 mb-sm-5">
                            <img src="../../assets/Screens/ssssss.png" class="w-100 rounded-4" alt=""> 
                         </div> -->
                </div>
            </div>
            <button (click)="goToSchoolBooking()" class="btn bg-main text-white">Book Now</button>
        </div>
    
    </div>
</div>